h1 {
    color: green;
}

.ligne {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.ligne img {
    width: calc(100% / 3);
}

body {
    background-image: url('../img/equipe.jpg');
    background-size: cover;
}

.logo {
    width: 100px;
}

main {
    background-color: #eeeeee;
}