body {
  background: #333;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
}
#modal-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 250ms ease;
  display: none;
}
#modal {
  width: 400px;
  height: 400px;
  margin: 100px auto;
  background: #ccc;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#close-button {
  font-size: 1.2rem;
  color: #ccc;
  padding: 10px 30px;
  border-radius: 25px;
  background: #333;
  border: none;
}
#close-button:hover {
  cursor: pointer;
}
