body {
  background: #333;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
}
a {
  color: #ccc;
  text-decoration: none;
}
nav {
  height: 100%;
  width: 25%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  transition: all 250ms ease;
}
nav ul {
  list-style: none;
  margin: 0;
}
nav ul li {
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}
#menu {
  padding: 1rem;
  text-align: end;
  font-size: 1.5rem;
}
#menu:hover {
  cursor: pointer;
}
.slide {
  transform: translateX(-100%);
}
