<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /simplon/coder/php-cache/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /simplon/coder/php-cache/index.php [L]
</IfModule>