/* Syntaxe media-queries
@media type_media and (condition) {
    propriétés à appliquer si la condition est vraie
}
*/

/* ici on cible les appareils avec écran dont la largeur est inférieure à 600px */
@media screen and (max-width: 599px) {
  body {
    background: lightcoral;
  }
}

/* ici on cible les appareils avec écran dont la largeur est au moins de 600px */
@media screen and (min-width: 600px) {
  /* les propriétés CSS ici ne seront appliquées que si la condition est vraie */
  header h1 {
    color: #333;
    font-size: 2.5rem;
  }
  header p {
    font-size: 1.8rem;
  }
  section h2 {
    font-size: 2rem;
  }
  section p {
    font-size: 1.8rem;
  }
}

/* ici on cible les appareils avec écran dont la largeur est au moins de 1000px */
@media screen and (min-width: 1000px) {
  body {
    background: #333;
  }
  h1,
  h2,
  p {
    color: #fff;
  }
  section#services {
    display: flex;
  }
  section#services article {
    margin: 10px;
  }
  nav {
    display: none;
  }
}

h1 {
  font-size: 5rem;
}
