html, body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-size:16px; /* => 1rem */
}

* {
    box-sizing: border-box;
}

h1 {
    color:red;
    text-align:center;
}
h2 {
    text-align:center;
}
header {
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    align-items: center;
}

header nav a {
    display: inline-block;
    text-decoration: none;
    padding:1rem;
    border:1px solid #cccccc;
}

img {
    max-width:100%;
}

.listeArticle {
    display:flex;
    flex-wrap: wrap;
    width:100%;
}

/* REGLE GENERALE */
.listeArticle article {
    margin:0.5rem;
    width: calc( 100% / 3 - 1rem);
    order:10;   /* POUR CHOISIR L'ORDRE D'AFFICHAGE DES ELEMENTS */
}

/* EXCEPTION: JE DONNE LA PRIORITE AUX ARTICLES DANS LA CATEGORIE SPORT */
article.sport {
    order:1; /* POUR CHOISIR L'ORDRE D'AFFICHAGE DES ELEMENTS */
    width: 100%;
}

article img {
    width:100%;
    height:30vh;
    object-fit:cover;
}


footer {
    text-align: center;
    padding:2rem;
}

.admin {
    display: flex;
    flex-direction: column;
}
.admin > * {
    margin:0.25rem;
    padding:0.25rem;
}

table {
    width:100%;
    border-collapse: collapse;
}
table thead {
    background-color: #aaaaaa;
}
td {
    border:1px solid #aaaaaa;
    padding:0.25rem;
}

.cache {
    display:none;
}


section.updateSection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    color: #ffffff;
    z-index: 999;
    padding:2rem;
}


form .infosUpdate {
    display:flex;
    width:100%;
    flex-direction: column;
}

.infosUpdate > * {
    margin:0.25rem;
    padding:0.25rem;
}
