h1 {
    color:red;
}

.listeArticle {
    display:flex;
    flex-wrap: wrap;
    width:100%;
}

.listeArticle article {
    width: calc( 100% / 3);
    order:10;
}

article.sport {
    order:1;
    width: 100%;
}

article img {
    width:100%;
    height:30vh;
    object-fit:cover;
}